<div class="container">
  <div><a [routerLink]="['/Submit']" class="introbtn2"> Go back to front page.</a></div>

  <div class="header">
    <h1>Sort your trash</h1>
    <h6>Drag the trash to the proper trash cans</h6>
  </div>

  <div class="trashes">
    <div class="example-container">
      <div cdkDropList [cdkDropListData]="apple" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['madspand']">
        <div class="example-box" *ngFor="let item of apple" [cdkDragData]="apple" cdkDrag>
          <img src="../assets/images/apple.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="fish" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['madspand']">
        <div class="example-box" *ngFor="let item of fish" [cdkDragData]="fish" cdkDrag>
          <img src="../assets/images/fisk.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="bottle" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['plastspand']">
        <div class="example-box" *ngFor="let item of bottle" [cdkDragData]="bottle" cdkDrag>
          <img src="../assets/images/bottle.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="cap" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['metalspand']">
        <div class="example-box" *ngFor="let item of cap" [cdkDragData]="cap" cdkDrag>
          <img src="../assets/images/cap.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="diaper" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['restspand']">
        <div class="example-box" *ngFor="let item of diaper" [cdkDragData]="diaper" cdkDrag>
          <img src="../assets/images/diaper.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="faxe" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['metalspand']">
        <div class="example-box" *ngFor="let item of faxe" [cdkDragData]="faxe" cdkDrag>
          <img src="../assets/images/faxe.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="milk" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['restspand']">
        <div class="example-box" *ngFor="let item of milk" [cdkDragData]="milk" cdkDrag>
          <img src="../assets/images/milk.png" class="ttimg">
        </div>
      </div>
    </div>

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="kande" class="example-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['plastspand']">
        <div class="example-box" *ngFor="let item of kande" [cdkDragData]="kande" cdkDrag>
          <img src="../assets/images/kanda.png" class="ttimg">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 100%;margin-top: 50px;">
    <div class="col-xs-6 col-md-3 trashcans">
      <div class="example-container">
        <div cdkDropList id="madspand" [cdkDropListData]="madspand" class="example-list"
          (cdkDropListDropped)="drop($event)" style="margin: 0 auto;">
          <div class="example-box"><img src="../assets/images/foodwaste.png" class="timg"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3 trashcans">
      <div class="example-container">
        <div cdkDropList id="restspand" [cdkDropListData]="restspand" class="example-list"
          (cdkDropListDropped)="drop($event)" style="margin: 0 auto;">
          <div class="example-box"><img src="../assets/images/residualwaste.png" class="timg"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3 trashcans">
      <div class="example-container">
        <div cdkDropList id="metalspand" [cdkDropListData]="metalspand" class="example-list"
          (cdkDropListDropped)="drop($event)" style="margin: 0 auto;">
          <div class="example-box"><img src="../assets/images/metal.png" class="timg"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3 trashcans">
      <div class="example-container">
        <div cdkDropList id="plastspand" [cdkDropListData]="plastspand" class="example-list"
          (cdkDropListDropped)="drop($event)" style="margin: 0 auto;">
          <div class="example-box"><img src="../assets/images/plastic.png" class="timg"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-info btn-lg submitbtn" data-toggle="modal" data-target="#myModal">Done</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <br>
          <p>Congratulations!</p>
          <ul *ngFor="let user of Users | async">
            <!--We use *ngFor to iterate over our posts object with the async pipe-->
            <li>
              <strong>{{ user.data.username}}</strong>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <a [routerLink]="['/Submit']">
              <input class="introbtn" data-dismiss="modal" type="submit" value="Quit game" (click)="addUser()">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
